/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2;

	/*defaul font 
	font-family: 'Roboto', sans-serif; */
	font-family: 'Balsamiq Sans', cursive;

}


/* target the html element called body*/
/* start body */
body{
	
	background-color: #383838;
	background-image: url('../images/bg4.jpg');

	/*background-image:url(https://media.giphy.com/media/TnDoEoXfT7YoE/giphy.gif);*/
	background-image: linear-gradient(rgba( 17, 126, 112, 0.75), rgba(0, 88, 225, 0.45)) url('https://media.giphy.com/media/TnDoEoXfT7YoE/giphy.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/*viewerr port height is the height og the screen*/
	height: 100vh;
	
}
/* end body */

.container {
	width: 500px;
	margin: 0 auto; /*this centers the element horizontally*/
	text-align: center;
}

/* start h1 */
h1{
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333
}

/* end h1*/

/* start h2*/
h2{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Playfair Display', serif;
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	/* padding vs margin*/
	/*margin add space outside the element
	  padding add spaceinside the element*/
}

/*end h2*/
/* target the element with the class bio*/

.bio {
	font-size: 18px;
	line-height: 1.75;
	background-color: rgba(51, 51,51, 0.5);
	/* multiple to the current line height	*/
	/*opacity: 0.5;*/
}
/* end bio*/

/* targets the element with the id name*/


#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: #FF9933;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;


}





